# course config files
*.yaml

# gradle
.gradle/
gradle/
gradlew
*.bat
build


# idea confid
.idea

# old stages
/Tic-Tac-Toe with AI/*
!/Tic-Tac-Toe with AI/task/
/Tic-Tac-Toe with AI/task/*
!/Tic-Tac-Toe with AI/task/src

# Project exclude paths
/util/out/
/util/out/production/classes/